
		<div class="container"><br><br>
			<div class="row">
				<div class="col-md-12" style="background-color: #a3061b; height: 50px"></div>
			</div>
			<div class="row">
				<div class="col-md-4" style="background-color: #a3061b; height:500px"></div>
				<h1>Add {{menu.Title}} Menu</h1>
				<div class="col-md-4">
					<form action="/" id="">

						<label style="padding-left: 35px">Price :</label><input type="text" id="veg" ng-model="menu.item.price"><br><br><br>
						<label style="padding-left: 5px">Food type :</label><input type="text" id="nonveg" ng-model="menu.item.type"><br><br><br>
						<label style="padding-left: 15px">Food Discription :</label> <input type="text" id="starter" ng-model="menu.item.dese">
						<button type="button" name="button" ng-click="sendData()">Submit</button>
					</form>
				</div>
				<div class="col-md-4"  style="background-color: #a3061b; height: 500px"></div>
			</div>
			<div class="row">
				<div class="col-md-12" style="background-color: #a3061b; height: 50px"></div>
			</div>
		</div>
