		<div class="container"><br><br>
			<div class="row">
				<div class="col-md-12" style="background-color: #a3061b; height: 50px"></div>
			</div>
			<div class="row">
				<div class="col-md-4" style="background-color: #a3061b ; height:500px"></div>
				<div class="col-md-4">
					<h1>Add Table</h1>
					<form action="/" id=""><br><br><br><br>
						<label style="padding-left: 35px">Table id :</label><input type="text" id="tid" ng-model="table.id"><br><br><br>
						<label style="padding-left: 5px">Table Number :</label><input type="number" id="tnumber" ng-model="table.number"><br><br><br>
						<label style="padding-left: 15px">Number of chairs :</label> <input type="number" id="cnumber" ng-model="table.noOfChairs"><br><br><br>
						<button type="button" name="button"  ng-click="sendData()">Submit</button>
					</form>
				</div>
				<div class="col-md-4"  style="background-color: #a3061b ; height: 500px"></div>
			</div>
			<div class="row">
				<div class="col-md-12" style="background-color: #a3061b; height: 50px"></div>
			</div>
		</div>
