<link rel="stylesheet" href="css/custom.css">
<script src="js/custom.js" charset="utf-8"></script>
<nav id="nav1" class="navbar navbar-fixed-top nav-one" style="background-color: #a3061b;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="image/logo.png" style="height: 150%"></a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1" style="color:#fff">FancyMonk</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>



<div id="section1" class="container-fluid"><br><br>
  <h1>Fancymonk</h1><br>
  <h3>Not a member yet?</h3>
  <h3>Signup Now!!!</h3>
  <h1>
      <a href="" class="typewrite" data-period="2000" data-type='[ "Sign Up!", "Else Log In!"]'>
    <span class="wrap"></span>
      </a>
  </h1>
  <a href="#!login" class="btn btn-default btn-lg" style="width: 100px; color:#fff; background-color: #a3061b">Login</a>
  <a href="#!signup" class = "btn btn-primary btn-lg" style="width: 100px; background-color: #a3061b">Sign up</a>
</div>
