
		<div class="container-fluid"><br><br>
			<div class="row">
				<div class="col-md-12" style="background-color: #a3061b; height: 50px"></div>
			</div>
			<div class="row">
				<div class="col-md-4" style="background-color: #a3061b; height:400px"></div>
				<div class="col-md-4">
					<form action="/" id="myLogin"><br><br><br><br>
						<label style="padding-left: 35px">Name: </label><input type="text" id="username" ng-model="user.username"><br><br><br>
						<label style="padding-left: 5px">Mobile No: </label><input type="number" id="mobile" ng-model="user.mobile"><br><br><br>
						<label style="padding-left: 15px">Email id: </label> <input type="email" id="email" ng-model="user.email"><br><br><br>
						<label style="padding-left: 5px">Password: </label><input type="password" id="password" ng-model="user.password"><br><br><br>
						<center><button type="button" ng-click='submit()'>Signup</button></center>
					</form>
				</div>
				<div class="col-md-4"  style="background-color: #a3061b; height: 400px"></div>
			</div>
			<div class="row">
				<div class="col-md-12" style="background-color: #a3061b; height: 100px"></div>
			</div>
		</div>
